body {
  background-image: url('./static/images/1361510.jpeg');
  height: 100vh;
  width: 100vw;
}


.Intro {
  font-weight: bolder;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 2vh;
  text-align: center;
  padding: 10px;
  max-width: 600px;
  margin: 0 auto;
}

.hr {
  padding: 20px;
  text-align: center;
  opacity: 0;
  filter: blur(10px);
  animation: focusEffect 3s ease-in-out forwards;
}

@keyframes focusEffect {
  0% {
    opacity: 0;
    filter: blur(5px);
  }

  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  max-width: 800px;
  height: 400px;
  background-color: rgb(247, 245, 245, 0.03);
  border-radius: 10px;
  overflow: hidden;
  position: relative;


}

.text {
  opacity: 1;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transform: translateY(100%);
  animation: slideInFromBottom 2s forwards;
  padding: 0px 20px;
  position: relative;
}

@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
